<p>
  This page reflects the results of <code>this.store.findAll('problem');</code>.
  The "API response" provided by Mirage returns only the first 20 results.
</p>

{{#each model as |problem|}}
  {{problem-listing problem=problem}}
{{/each}}
