<p>
  Here, the customer watches a loading screen for 30 seconds while all 30,099 records get fetched and rendered before interactivity. Most developers say "I would never do such a thing," but this example is based on a real experience!
</p>

{{#each model as |problem|}}
  {{problem-listing problem=problem}}
{{/each}}
