{{#ella-treadmill
  content=model
  row='92px'
  minColumnWidth='300px'
  on-scroll-start=(route-action 'handleScrollStart')
  on-scroll-end=(route-action 'handleScrollEnd')
  as |problem|
}}
  {{#if problem.is_loading}}
    Loading...
  {{else}}
    {{problem-listing problem=problem}}
  {{/if}}
{{else}}
  {{#if model.loading}}
    Loading...
  {{else}}
    <p>No problems today!</p>
  {{/if}}
{{/ella-treadmill}}
