{{#ella-treadmill
  content=model
  row='92px'
  as |problem|
}}
  {{problem-listing problem=problem}}
{{else}}
  {{#if model.loading}}
    <div class="loading data-loading">
      {{loading-indicator class="balls"}}
    </div>
  {{else}}
    <p>No problems today!</p>
  {{/if}}
{{/ella-treadmill}}
