<p>
  This route still tries to fetch all the records in the background. However, the Emberella Treadmill renders only enough listings to fill the visible portion of the scrolling area to help improve overall performance.
</p>

{{#ella-treadmill
  content=model
  row="92px"
  as |problem|
}}
  {{problem-listing problem=problem}}
{{else}}
  {{#if model.loading}}
    <div class="loading data-loading">
      {{loading-indicator class="balls"}}
    </div>
  {{else}}
    <p>No problems today!</p>
  {{/if}}
{{/ella-treadmill}}
